{% if products %}
	<div id="special" class="heading"><span>Рекомендованные товары</span></div>
	<div class="featured uni-module product-{% set module_id = random() %}{{module_id}}">
		<div class="uni-module__wrapper">
			{% for product in products %}
			  <div class="product-thumb uni-item product">
    					
    					<div class="col">
    					    <div class="product-thumb__image" {{ product.special_date_end ? 'data-special-end="'~product.special_date_end~'"' }}>
    						{% include 'unishop2/template/extension/module/uni_stickers.twig' %}	
    						<a href="{{ product.href }}">
    							<img src="{{ product.thumb }}" {{ product.additional_image ? 'data-additional="'~product.additional_image~'"' }} alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" />
    						</a>	
    						<a class="product-thumb__name" href="{{ product.href }}">{{ product.name }}</a>
    					</div>
    					
    					     <div class="product-thumb__caption">
    						
    					
    						
    						
    						{% if product.show_description %}
    							<div class="product-thumb__description description">{{ product.description }}</div>
    						{% endif %}
    						
    						
    						{% include 'unishop2/template/extension/module/uni_attributes.twig' %}
    						{% include 'unishop2/template/extension/module/uni_options.twig' %}
    						{% include 'unishop2/template/extension/module/uni_quantity_indicator.twig' %}
    						
    						
    						
    						
    						
    						{% if product.price %}
    							<div class="product-thumb__price price" data-price="{{ product.price_value }}" data-special="{{ product.special_value }}" data-discount="{{ product.discounts }}">
    								{% if not product.special %}
    									{{ product.price }}
    								{% else %}
    									<span class="price-old">{{ product.price }}</span> <span class="price-new">{{ product.special }}</span> 
    								{% endif %}
    							</div>
    							{% if product.tax %}<div class="price-tax">{{ text_tax }} {{ product.tax }}</div>{% endif %}
    						{% endif %}
    						
    						
    						
    						<div class="product-thumb__cart cart {{ product.cart_btn_class }}">
    							{% if product.show_quantity %}
    								<div class="qty-switch">
    									<input type="text" name="quantity" value="{{ product.minimum }}" data-minimum="{{ product.minimum }}" class="qty-switch__input form-control" />
    									<div>
    										<i class="qty-switch__btn fa fa-plus btn-default"></i>
    										<i class="qty-switch__btn fa fa-minus btn-default"></i>
    									</div>
    								</div>
    							{% endif %}
    							<button type="button" class="product-thumb__add-to-cart add_to_cart btn {{ product.cart_btn_class }}" title="{{ product.cart_btn_text }}" data-pid="{{ product.product_id }}" onclick="cart.add({{ product.product_id }}, this);this.querySelector('span').innerText = 'В корзине'; setTimeout(function(){var items = document.querySelectorAll('.product-thumb__add-to-cart.add_to_cart.btn'); console.log(items); items.forEach(function(key, value){key.querySelector('span').innerText = 'В корзину';})}, 1000)"><span class="">В корзину</span></button>
    							<button type="button" class="product-thumb__quick-order quick-order btn {{ product.quick_order is empty ? 'hidden' }}" data-toggle="tooltip" title="{{ quick_order_title }}" onclick="quick_order('{{ product.product_id }}');"><i class="{{ quick_order_icon }}"></i>{% if show_quick_order_text %}<span class="hidden-xs hidden-sm">{{ quick_order_title }}</span>{% endif %}</button>
    							<button type="button" class="product-thumb__wishlist wishlist {{ wishlist_btn_disabled ? 'hidden' }}" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart-o"></i></button>
    						
    						</div>
    						
    						
    						
    					</div>
    					</div>
    					
    				</div>
			{% endfor %}
		</div>
	</div>
	<script>
		$('.product-{{ module_id }}').uniModules({
			type:'{{type_view ? type_view : 'carousel'}}',
			autoheight:['product-thumb__name', 'product-thumb__description', 'product-thumb__option'],
			loop:{{products|length > 5 ? 'true' : 'false'}}
		});
		{% if show_timer %}
		$('.product-{{module_id}} .product-thumb__image').each(function() {
			var date = $(this).data('special-end');
			
			if(date) {
				$(this).uniTimer({
					date      :''+date+'',
					texts     :['{{ text_special_day }}','{{ text_special_hour }}','{{ text_special_min }}','{{ text_special_sec }}'],
					hideText  :false,
					hideIsNull:false
				});
			}
		});
		{% endif %}
	</script>
{% endif %}