<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
<title>{{ title }}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<base href="{{ base }}" />
{% if robots %}
<meta name="robots" content="{{ robots }}" />
{% endif %}
{% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
<meta name="keywords" content="{{ keywords }}" />
{% endif %}
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
{% if og_url%}
<meta property="og:url" content="{{ og_url }}" />
{% endif %}
{% if og_image %}
<meta property="og:image" content="{{ og_image }}" />
{% else %}
<meta property="og:image" content="{{ logo }}" />
{% endif %}
<meta property="og:site_name" content="{{ name }}" />
<meta name="theme-color" content="#{{ theme_color }}" />
{% for link in links %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endfor %}
{% for font in font_preload %}
	<link href="{{ font }}" rel="preload" as="font" type="font/woff2" crossorigin />
{% endfor %}
<link href="catalog/view/theme/unishop2/fonts/fa-solid-900.woff2" rel="preload" as="font" type="font/woff2" crossorigin />
<link href="catalog/view/theme/unishop2/fonts/fa-regular-400.woff2" rel="preload" as="font" type="font/woff2" crossorigin />
<link href="catalog/view/theme/unishop2/fonts/fa-brands-400.woff2" rel="preload" as="font" type="font/woff2" crossorigin />
{% if merged_style %}
	<link href="{{ merged_style }}" rel="preload" as="style" />
	<link href="{{ merged_style }}" rel="stylesheet" media="screen" />
{% else %}
    
	
	{% if font_style %}
		<link href="{{ font_style }}" rel="stylesheet" media="screen" />
	{% endif %}
	<link href="catalog/view/theme/unishop2/stylesheet/stylesheet.css?v={{ version }}" rel="stylesheet" media="screen" />
	<link href="catalog/view/theme/unishop2/stylesheet/font-awesome.min.css" rel="stylesheet" media="screen" />
	<link href="{{ generated_style }}" rel="stylesheet" media="screen" />
	<link href="catalog/view/theme/unishop2/stylesheet/animate.css" rel="stylesheet" media="screen" />
{% endif %}
{% for style in styles %}
	<link href="{{ style.href }}" rel="{{ style.rel }}" media="{{ style.media }}" />
{% endfor %}
<script>var module_on_mobile = '{{ module_on_mobile }}', default_view = '{{ default_view }}', default_mobile_view = '{{ default_mobile_view }}';</script>
{% if merged_script %}
	<link href="{{ merged_script }}" rel="preload" as="script" />
	<script src="{{ merged_script }}"></script>
{% else %}
    
	
	<script src="catalog/view/theme/unishop2/js/common.js"></script>
	<script src="catalog/view/theme/unishop2/js/owl.carousel.min.js"></script>
	<script src="catalog/view/theme/unishop2/js/menu-aim.min.js"></script>
	<script src="catalog/view/theme/unishop2/js/jquery.highlight.min.js"></script>
{% endif %}
{% for script in scripts %}
	<script src="{{ script }}"></script>
{% endfor %}
{% if user_js %}
<script>{{ user_js }}</script>
{% endif %}
{% for analytic in analytics %}
	{{ analytic }}
{% endfor %}
<noscript><style>.uni-module__wrapper{opacity:1}</style></noscript>
  <link rel="stylesheet" href="/catalog/view/theme/unishop2/stylesheet/styles/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="/catalog/view/theme/unishop2/stylesheet/styles/style.css">
</head>
<body {{ class ? 'class="'~class~'"' }}>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
      <div class="top-bar col-12 text-center">
        <p>2=1 два товара по цене одного!</p>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light col-12">
        
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
          <div class="row col">
              <div class="col">
                <ul class="">
                     <li> <a href="https://test.xn----7sbbafe0b4cdqerio.xn--p1ai/delivery.html" class="footer__column-a">Доставке</a></li>
                      <li><a href="https://test.xn----7sbbafe0b4cdqerio.xn--p1ai/privacy.html" class="footer__column-a">Оплата</a></li>
                      <li><a href="https://test.xn----7sbbafe0b4cdqerio.xn--p1ai/about_us.html" class="footer__column-a">О нас</a></li>
                      <li><a href="#">Помощь</a></li> 	            
                </ul>      
            </div>
            <div class="d-flex  col justify-content-center">
              <ul>
                <li><a href="#">Мастер классы и статьи</a></li>
                <li><a href="#">Дизайн ногтей</a></li>
              </ul>
            </div>
            <div class="d-flex  col justify-content-end">
                  <ul>
                  {% if logged %}
                                    <li><a href="{{ account }}">{{ text_account }}</a></li>
                                    <li><a href="{{ order }}">{{ text_order }}</a></li>
                                    <li><a href="{{ transaction }}">{{ text_transaction }}</a></li>
                                    <li><a href="{{ download }}">{{ text_download }}</a></li>
                                    <li><a href="{{ logout }}">{{ text_logout }}</a></li>
                                {% else %}


                                    <li><a {% if popup_login %}onclick="uniLoginOpen();"{% else %} href="{{ login }}"{% endif %}>Войти</a></li>
                    <li>
                      
				      <a class="top-menu__btn top-menu__wishlist-btn uni-href" data-href="{{ wishlist.href }}">
                            <i class="fa fa-heart-o"></i><span class="top-menu__wishlist-total">{{ wishlist.total }}</span>
                      </a>
						
					
                    </li>       
                    {{ cart }}
                    
                                {% endif %}
              </ul>  
            </div> 
        </div>
        
        </div>
        
          
        
        

        
        
     </nav>
      <div class="under-nav col-12">
       <div class="row">
         <div class="col">
           <div id="search" class="header-block__item col-12">
					{{ search }}
				</div>
         </div>
         <div class="col">
           <div class="header-block__item col-12">
					<div id="logo" class="header-logo">
						{% if logo %}
							{% if og_url is defined and home == og_url %}
								<img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="header-logo__img img-responsive" width="{{ logo_width }}" height="{{ logo_height }}" />
							{% else %}
								<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" width="{{ logo_width }}" height="{{ logo_height }}" class="img-responsive" /></a>
							{% endif %}
						{% else %}
							{% if og_url is defined and home == og_url %}
								<span>{{ shop_name }}</span>
							{% else %}
								<a href="{{ home }}">{{ shop_name }}</a>
							{% endif %}
						{% endif %}
					</div>
				</div>
         </div>
         <div class="col">
           <div class="header-block__item col-12">
					<div class="header-phones">
						<span class="header-phones__main uni-href" {{ main_phones.0.href ? 'data-href="'~main_phones[0].href~'"' }} data-target="_blank" >{{ main_phones.0.number }}</span>
						{% if phones or text_in_add_contacts or callback %}
							<i class="header-phones__show-phone dropdown-toggle fas fa-chevron-down {{ (phones_addit is not defined) and (callback is empty) ? 'visible-xs' }}" data-toggle="dropdown"></i>
							<ul class="header-phones__ul dropdown-menu dropdown-menu-right">
								{% if callback %}
									<li class="header-phones__li">
										<a onclick="uniRequestOpen(['mail', 'phone', 'comment']);" class="header-phones__callback"><span class="header-phones__span">{{ text_header_callback }}</span></a>
									</li>
								{% endif %}
								{% if text_in_add_contacts_position and text_in_add_contacts %}
									<li class="header-phones__text"><hr style="margin-top:0px;" />{{ text_in_add_contacts }}<hr style="margin-bottom:5px;" /></li>
								{% endif %}
								{% for phone in phones %}
									<li class="header-phones__li {{ phone.main is defined ? 'visible-xs' }}">
										<a class="header-phones__a uni-href" {{ phone.href ? 'data-href="'~phone.href~'"' }}>
											{% if phone.icon and 'fa-' in phone.icon %}
												<i class="{{ phone.icon }}"></i>
											{% elseif phone.icon %}
												<img src="image/{{ phone.icon }}" alt="" />
											{% endif %}
											{{ phone.number }}
										</a>
									</li>
								{% endfor %}
								{% if not text_in_add_contacts_position and text_in_add_contacts %}
									<li class="header-phones__text"><hr style="margin-top:5px" />{{ text_in_add_contacts }}</li>
								{% endif %}
							</ul>
						{% endif %}
						{% if main_phones|length > 1 %}
							<div class="header-phones__additionals">
								{% for key, phone in main_phones %}
									<span class="header-phones__additional {{ key == 0 ? 'selected' }}" data-href="{{ phone.href }}" data-phone="{{ phone.number }}">
									{% if phone.icon and 'fa-' in phone.icon %}
										<i class="{{ phone.icon }}" data-toggle="tooltip" data-placement="left" title="{{ phone.text }}"></i>
									{% elseif phone.icon %}
										<img src="image/{{ phone.icon }}" alt="" data-toggle="tooltip" data-placement="left" title="{{ phone.text }}" />
									{% else %}
										{{ phone.text }}
									{% endif %}
									</span>
								{% endfor %}
							</div>
						{% endif %}
					</div>
				</div>
           
         </div>
         
       </div>
     </div>
      <div class="top-menu">
          <ul style="list-style: none;">
              <li><a href="#">
                  Пластины для стемпинга
              </a></li>
              <li><a href="#">
                 Лаки для стемпинга
              </a></li>
              <li><a href="#">
                  Штампы для стемпинга
              </a></li>
              <li><a href="#">
                  Наборы
              </a></li>
              <li><a href="#">
                  Сопутствующие товары
              </a></li>
          </ul>
          <ul style="list-style: none;">
              <li><a href="#">
                  Новинки
              </a></li>
              <li><a href="#">
                Акции
              </a></li>
             
          </ul>
      </div>
        
	<main class="main">