{{ header }}
<div id="contact-page" class="container">
	<ul class="breadcrumb {{ menu_expanded ? 'col-md-offset-3 col-lg-offset-3 col-xxl-offset-4' }}">
		{% for key, breadcrumb in breadcrumbs %}
			{% if key + 1 < breadcrumbs|length %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
			{% else %}
				<li>{{ breadcrumb.text }}</li>
			{% endif %}
		{% endfor %}
	</ul>
	<div class="row">
		{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-4 col-md-4 col-lg-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-8 col-md-9 col-lg-9 col-xxl-16' %}
		{% else  %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">
			{{ content_top }}
			<div class="heading-h1"><h1>{{ heading_title }}</h1></div>
			{% if image %}
				<div class="row">
					<div class="col-sm-12">
						<img src="{{ image }}" alt="{{ store }}" title="{{ store }}" class="img-responsive" />
					</div>
				</div>
				<hr />
			{% endif %}
			<div class="row">
				<div class="col-sm-6 col-md-4">
					<div class="heading"><span>{{ store }}</span></div>
					<address>
						<strong>{{ text_address }}</strong><br />
						<span>{{ address }}</span>
					</address>
					{% if geocode %}
						<a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-default"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
					{% endif %}
					{% if open %}
						<hr />
						<strong>{{ text_open }}</strong><br />
						<span>{{ open }}</span><br />
						<br />
					{% endif %}
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="heading"><span>{{ text_contacts }}</span></div>
					<ul class="contact-list list-unstyled">
						<li class="contact-list__item uni-href" data-href="tel:{{ telephone }}"><i class="contact-list__icon fa fa-phone fa-fw"></i>{{ telephone }}</li>
						{% for contact in contacts %}
							<li class="contact-list__item uni-href" data-href="{{ contact.href }}">{% if contact.icon and 'fa-' in contact.icon %}<i class="contact-list__icon {{ contact.icon }} fa-fw"></i>{% elseif contact.icon %}<img src="image/{{ contact.icon }}" alt="" />{% endif %}{{ contact.number }}</li>
						{% endfor %}
						{% if fax %}
							<li class="contact-list__item"><i class="fa fa-fax fa-fw" aria-hidden="true"></i>{{ fax }}</li>
						{% endif %}
						{% if shop_email %}
							<li class="contact-list__item uni-href" data-href="mailto:{{ shop_email }}"><i class="contact-list__icon far fa-envelope fa-fw" aria-hidden="true"></i>{{ shop_email }}</li>
						{% endif %}
					</ul>
					<hr class="visible-xs" />
				</div>
				{% if comment %}
					<div class="col-sm-12 col-md-4">
					<div class="heading"><span>{{ text_contact_comment }}</span></div>
						{{ comment }}
					</div>
				{% endif %}
			</div>
			{% if text_in_contacts %}
				<div class="row">
					<div class="col-sm-12">
						{{ text_in_contacts }}
					</div>
				</div>
			{% endif %}
			<br />
			{% if locations %}
				<div class="heading"><span>{{ text_store }}</span></div>
				<div class="panel-group" id="accordion">
					{% for location in locations %}
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title"><a href="#collapse-location{{ location.location_id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ location.name }} <i class="fa fa-caret-down"></i></a></h4>
							</div>
							<div class="panel-collapse collapse" id="collapse-location{{ location.location_id }}">
								<div class="panel-body">
									<div class="row">
										{% if location.image %}
											<div class="col-sm-3"><img src="{{ location.image }}" alt="{{ location.name }}" title="{{ location.name }}" class="img-thumbnail" /></div>
										{% endif %}
										<div class="col-sm-3">
											<strong>{{ location.name }}</strong><br />
											<address>
												{{ location.address }}
											</address>
											{% if location.geocode %}
												<a href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-default"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
											{% endif %}
										</div>
										<div class="col-sm-3">
											<strong>{{ text_telephone }}</strong><br />{{ location.telephone }}<br /><br />
												{% if location.fax %}
													<strong>{{ text_fax }}</strong><br>{{ location.fax }}
												{% endif %}
										</div>
										<div class="col-sm-3">
											{% if location.open %}
												<strong>{{ text_open }}</strong><br />{{ location.open }}<br /><br />
											{% endif %}
											{% if location.comment %}
												<strong>{{ text_comment }}</strong><br />{{ location.comment }}
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endif %}
			{% if contact_map %}
				<div class="row">
					<div class="col-xs-12">
						<div class="heading"><span>{{ text_location }}</span></div>
						{{ contact_map }}
					</div>
				</div>
			{% endif %}
			<br />
			<div class="heading"><span>{{ text_contact }}</span></div>
			<div class="contact-page__form uni-form">
				<!--
				<div class="form-group">
					<label class="col-sm-2 hidden-xs"></label>
					<div class="col-sm-10">
						<h3 class="contact-page__heading"><span></h3>
					</div>
				</div>
				-->
				<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
					<div class="form-group required">
						<label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
						<div class="col-sm-10">
							<input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" />
							{% if error_name %}
								<div class="text-danger">{{ error_name }}</div>
							{% endif %}
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-2 control-label" for="input-email">{{ entry_email }}</label>
						<div class="col-sm-10">
							<input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" />
							{% if error_email %}
								<div class="text-danger">{{ error_email }}</div>
							{% endif %}
						</div>
					</div>
					<div class="form-group required">
						<label class="col-sm-2 control-label" for="input-enquiry">{{ entry_enquiry }}</label>
						<div class="col-sm-10">
							<textarea name="enquiry" rows="10" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>
							{% if error_enquiry %}
								<div class="text-danger">{{ error_enquiry }}</div>
							{% endif %}
						</div>
					</div>
					
					{{ captcha }}
					
					{% if text_agree %}
						<div class="form-group">
							<label class="col-sm-2 hidden-xs"></label>
							<div class="col-sm-10">
								{% if text_agree %}
									<label class="input"><input type="checkbox" name="agree" value="1" checked="checked" /><span>{{ text_agree }}</span></label>
								{% else %}
									<label class="input"><input type="checkbox" name="agree" value="1" /><span>{{ text_agree }}</span></label>
								{% endif %}
							</div>
						</div>
					{% endif %}
				</form>
					
				<div class="form-group">
					<label class="col-sm-2 hidden-xs"></label>
					<div class="col-sm-10">
						<button class="contact-page__btn btn btn-primary" data-loading-text="{{ text_loading }}">{{ button_submit }}</button>
					</div>
				</div>
			</div>
			
			<script>
				$('.contact-page__btn').on('click', function() {
	
					var form = '.contact-page__form';
	
					$.ajax({
						url: 'index.php?route=information/contact',
						type: 'post',
						data: $(form+' input, '+form+' textarea').serialize(),
						dataType: 'html',
						beforeSend: function() {
							$('.contact-page__btn').button('loading');
						},
						complete: function() {
							$('.contact-page__btn').button('reset');
						},
						success: function(html) {
							
							let result = $(html).find('.text-danger');
							
							if(result.length) {
								result.each(function() {
								
									form_error(form, $(this).text());
									
									uniFlyAlert('danger', $(this).text());
								});
							} else {
								window.location = 'index.php?route=information/contact/success';
							}
						}
					});
				});
			</script>
				
			{{ content_bottom }}
		</div>
		{{ column_right }}
	</div>
</div>
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [
		{% for i, breadcrumb in breadcrumbs %}
			{
			"@type": "ListItem",
			"position": {{ i+1 }},
			"name": "{{ i == 0 ? shop_name: breadcrumb.text }}",
			"item": "{{ breadcrumb.href }}"
			{{ i + 1 < breadcrumbs|length ? '},' : '}' }}
		{% endfor %}
		]
	}
</script>
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@type": "Store",
		"name": "{{ microdata.name }}",
		"url": "{{ microdata.url }}",
		"image": "{{ microdata.image }}",
		"description": "{{ microdata.description }}",
		"email": "{{ microdata.email }}",
		"telephone": "{{ microdata.telephone }}",
		"openingHours": "{{ microdata.open_hours }}",
		"priceRange": "{{ microdata.currency }}",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "{{ microdata.address }}"
		}
}
</script>
{{ footer }}