<div id="category-module" class="col-12 list-group categories">
    <div class="row">
	{% for category in categories %}
		 
		
		{% if category.children %}
		   
		   	{% for child in category.children %}
		   	      
		   	     {% if child.image %}
            		  <div class="category-item col-12 col-sm-6 col-lg-3">
            		      <div class="img-block">
            			<a href="{{ child.href }}" class="category-wall__image">
            				
            				<img src="{{ child.image }}" loading="lazy" alt="{{ child.name }}" class="img-responsive" width="{{ img_width }}" height="{{ img_height }}" />
            				    {% if type == 1 %}
            						<span class="category-wall__title banner-label btn-primary">{{ child.name }}</span>
            					{% endif %}
            			</a>
            			</div>
            			<div class="title-block">
            			    <h3>
            			    <a href="{{ child.href }}" class="text-center list-group__a list-group-item">{{ child.name }}</a></h3>
            			</div>
            		  </div>
            		{% endif %}
		   	
		   	
		   	
		   	{% endfor %}
		
		
		
		{% endif %}
		 
		{% if category.image %}
		  <div class="category-item col-12 col-sm-6 col-lg-3" data-id="{{category.category_id }}" data-child="{% if category.children %}1{% else %}0{% endif %}">
		      <div class="img-block">
			<a href="{{ category.href }}" class="category-wall__image {{  category.childs ? 'childs'  }} {{ type == 2 ? 'type2' }}">
				
				<img src="{{ category.image }}" loading="lazy" alt="{{ category.name }}" class="img-responsive" width="{{ img_width }}" height="{{ img_height }}" />
				    {% if type == 1 %}
						<span class="category-wall__title banner-label btn-primary">{{ category.name }}</span>
					{% endif %}
			</a>
			</div>
			<div class="title-block">
			    <h3>
			    <a href="{{ category.href }}" class="text-center list-group__a list-group-item {{ category.category_id == category_id ? 'active show' }}">{{ category.name }}</a></h3>
			</div>
		  </div>
		{% endif %} 
		
	{% endfor %}
	</div>
</div>
<script>
	$(function() {
		$('#category-module span').on('click', function(e){
			e.preventDefault();
			$(this).toggleClass('show');
			$(this).parent().toggleClass('show');
			$(this).parent().next().collapse('toggle');
		});
	});
</script>